<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>por[tags].com</title>
<link href="css/estilo.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="page2">
        <div id="wrap">
   			<div id="logo_interior"><img src="images/portags_blanco.gif" /></div>
            	<div id="user_interior">
					<form id="user1" name="user" method="post" action="">
                        <label>Usuario: 
                        <input name="usuario" type="text" id="usuario" size="10" />
                        </label>&nbsp;&nbsp;
                        <label>Contraseña:
                        <input name="pass" type="text" id="pass" size="10" />
                        </label>&nbsp;&nbsp;
                        <a href="#">
                        Registrarse                       </a>
                  </form>
          		</div>
          <div id="contenido_interior">
            <p>Contenidos div id content_interior</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p align="center"><a href="index.htm" target="_self">anterior</a></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </div>
    </div>
</div>
</body>
</html>
